{% extends "base.html" %}
{% load static %}

{% block css %} {% static "css/product.css" %} {% endblock %}
{% block title %} product {% endblock %}

{% block body %} 
    <!-- ***************** header ***************** -->
    {% include "product/header.html" %}
    <div id="product-main-con">
        <main>
            <img src="{{product.image.url}}">
            <div>
                <h1>{{product.title}}</h1>
                <p>{{product.brand.title}}</p>
                <p>{{product.description}}</p>
                <button>Add to card</button>
            </div>
        </main>
        <section id="feedback">
            <h3>Customer's feedbacks:</h3>
                <form method="POST">
                    {% csrf_token %}
                    
                    {% for field in forms %}
                        {{field.label_tag}}<br>
                        {{field}}<br>

                        {% for error in field.errors %}
                            <p style="color:red">{{error}}</p><br>
                        {% endfor %}
                    {% endfor %}
                    <button type="submit">Submit</button>
                </form>
        </section>
    </div>
{% endblock %}