{% extends "base.html" %}
{% load static %}

{% block css %} {% static "css/product.css" %} {% endblock %}
{% block title %} product {% endblock %}

{% block body %} 
    <!-- ***************** header ***************** -->
    {% include "product/header.html" %}
    <div id="product-main-con">
        <main>
            <img src="{{product.image.url}}">
            <div>
                <h1>{{product.title}}</h1>
                <p>{{product.brand.title}}</p>
                <p>{{product.description}}</p>
                <button>Add to card</button>
            </div>
        </main>
        <section id="feedback">
            <h3>Customer's feedbacks:</h3>
            {% if messages %}
                {% for message in messages %}
                    <p style="color:green">{{message}}</p>
                {% endfor%}
            {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    
                    {% for field in forms %}
                        {{field.label_tag}}<br>
                        {{field}}<br>

                        {% comment %} {% for error in field.errors %}
                            <p style="color:red">{{error}}</p><br>
                        {% endfor %} {% endcomment %}
                    {% endfor %}
                    <button type="submit">Submit</button>
                </form>
        </section>
        <sectio class="all_fidback" style="">
            {% for feedback in allFeedbacks %}
                <div class="card">
                    <h4>{{feedback.product}}-{{feedback.rating}} 
                        {% if feedback.rating == 5 %} ⭐⭐⭐⭐⭐
                        {% elif feedback.rating == 4 %} ⭐⭐⭐⭐
                        {% elif feedback.rating == 3%} ⭐⭐⭐
                        {% elif feedback.rating == 2%} ⭐⭐
                        {% elif feedback.rating == 1%} ⭐
                        {% endif %}
                    </h4>
                    <p>{{feedback.text}}</p>
                </div>
            {% endfor %}
        </sectio>
    </div>
{% endblock %}